footer {
    background: transparent linear-gradient(113deg, #093F6D 0%, #122E46 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    padding-top: 100px;
    overflow: hidden;
    position: relative;

    // .footer__img{
    //     position: relative;
    // }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("../img/Groupfj.png") no-repeat;
    }

    .container-fluid {
        padding-bottom: 50px;

        h6 {
            font-weight: bold;
        }

        .social-link i {
            font-size: 25px;
            margin: 0 15px;
        }
    }

    .copyright {
        background: #134E84;
    }

    .text-sm-center{
        @media (max-width: 768px) {
            text-align: center;
            -ms-flex-pack: center!important;
            justify-content: center!important;
        }
    }
}